parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method GloCurrency\\\\GlobusBank\\\\Models\\\\Transaction\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Console/FetchTransactionsUpdateCommand.php

		-
			message: "#^Call to an undefined static method GloCurrency\\\\GlobusBank\\\\Models\\\\Transaction\\:\\:create\\(\\)\\.$#"
			count: 1
			path: src/Jobs/CreateTransactionJob.php

		-
			message: "#^Call to an undefined static method GloCurrency\\\\GlobusBank\\\\Models\\\\Transaction\\:\\:firstWhere\\(\\)\\.$#"
			count: 1
			path: src/Jobs/CreateTransactionJob.php

		-
			message: "#^Access to an undefined property GloCurrency\\\\GlobusBank\\\\Models\\\\Transaction\\:\\:\\$processingItem\\.$#"
			count: 1
			path: src/Listeners/UpdateProcessingItemStateSubscriber.php

